<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

     <div id="search" class="clearfix">
      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchTerm">&nbsp;
        <button class="btn btn-primary" ng-click="menu.search();">Narrow It Down For Me!</button>
      </div>
     </div>

    <!-- found-items should be implemented as a component -->
    <found-items ng-show="menu.hasRun" items="menu.found" on-remove="menu.removeItem(index)"></found-items>
  </div>

</body>
</html>
